<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Multi-Form App</title>
</head>
<body>
  <nav>
    <a href="/form1">Form 1</a> |
    <a href="/form2">Form 2</a> |
    <a href="/form3">Form 3</a> |
    <a href="/display">Display</a>
  </nav>
  <hr />
  {{{body}}}
</body>
</html>
