<h2>Form 3: Preferences</h2>
<form action="/submit3" method="POST">
  <label>Favorite Color:</label>
  <input type="text" name="color" /><br />
  
  <label>Hobby:</label>
  <input type="text" name="hobby" /><br />
  
  <button type="submit">Submit</button>
</form>
